<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppKey</Key>
            <Value>84a1cffd-f78b-4178-ab2f-545037e56275</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>1100019364</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>188987</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>Adspace</Key>
                <Value>130091214</Value>
              </Property>
            </Metadata>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-444F22E8-8371-4258-934E-2F329A5E5555</Id>
        <Name>AdMediatorCategoryInfo</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>188987</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>Adspace</Key>
                <Value>130091214</Value>
              </Property>
            </Metadata>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-67C7737F-D14B-46F0-B6AC-157E8E80BE3C</Id>
        <Name>AdMediatorMain</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>188987</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>Adspace</Key>
                <Value>130091214</Value>
              </Property>
            </Metadata>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-D4165D9E-D7DF-44A4-80E5-8491C18C832C</Id>
        <Name>AdMediatorPersonInfo</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>188987</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>Adspace</Key>
                <Value>130091214</Value>
              </Property>
            </Metadata>
            <Name>Smaato</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F1E7389F-2B7A-495A-BFF0-266ED8BBBA2E</Id>
        <Name>AdMediatorStatistic</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-03-22T08:16:25.5803533Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>